html, body {
    background-color: rgb(20, 20, 20);
}

.pallet {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.color {
    position: relative;
    width: 100px;
    height: 100px;
    border: 10px solid grey;
}

#gen {
    position: absolute;
    background-color: rgb(255, 47, 92);
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gen:hover {
    background-color: rgb(47, 172, 255);
    cursor: pointer;
}