html, body {
    background-color: rgb(20, 20, 20);
}

.pallet {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, 0);
}

.color {
    position: relative;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(40, 40, 40);
}

.color:hover {
    cursor: pointer;
    border-color: rgb(255, 47, 92);
}

.buttons {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    display: inline;
}

#gen {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 250px;
    height: 75px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    border-radius: 50px 0 0 50px;
}

#gen:hover {
    background-color: rgb(255, 47, 92);
    cursor: pointer;
}

.shifts {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0);
}

.hues {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
}

.number {
    width: 80px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(40, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15pt;
    text-align: center;
    outline: none;
}

.number:focus {
    border: 2px solid rgb(255, 47, 92);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo {
    position: absolute;
    width: 50rem;
    image-rendering: pixelated;
    top: -50px;
    margin-top: 10px;
}

.start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    top: 15%;
    justify-items: center;
}

p {
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
}

.number2 {
    width: 80px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(40, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15pt;
    text-align: center;
    outline: none;
    margin-left: 30px;
    margin-right: 30px;
}

.number2:hover {
    color: rgb(255, 47, 92);
    cursor: pointer;
}

#square {
    width: 10px;
    height: 10px;
    border: 2px solid gray;
    background-color: red;
}

input[type="checkbox"] {
    appearance: none;
    background-color: rgb(40, 40, 40);
    margin: 0;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 0 50px 50px 0px;
    transform: translate(0%, 40%);
}

input[type="checkbox"]:hover {
    appearance: none;
    background-color: rgb(255, 47, 92);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    appearance: none;
    background-color: rgb(255, 47, 92);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}