html, body {
    background-color: rgb(20, 20, 20);
}

.pallet {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.color {
    position: relative;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(40, 40, 40);
}

.color:hover {
    cursor: pointer;
    border-color: rgb(255, 47, 92);
}

#gen {
    position: absolute;
    background-color: rgb(40, 40, 40);
    color: white;
    width: 250px;
    height: 75px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#gen:hover {
    background-color: rgb(255, 47, 92);
    cursor: pointer;
}

.shifts {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

.number {
    width: 80px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(40, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15pt;
    text-align: center;
    outline: none;
}

.number:focus {
    border: 2px solid rgb(255, 47, 92);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}